body{ color: #000000; font-family: "Helvetica Neue", Helvetica;}

h1 {color:  #ff1ca5; font-size: 3em; }
h2 {color: #ff1ca5; font-size: 2em; }

body {background-color: #FFFFFF;}
a:link {color: purple;}




nav {background-color: #ffe73d;}
nav a {color: #861fb8;}
nav a:hover{background-color:#186bbd;}
nav {padding: 10px;}
nav {margin-bottom: 30px}
